<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>大学生直聘-大学生就业神器！</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/static/css/mystyle.css" rel="stylesheet">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="/static/jquery-3.3.1.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
          <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
        <![endif]-->
</head>

<body style="background-color:#FCFCFC">
    <div class="container">
        <!-- head -->
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                                class="icon-bar"></span></button> <a class="navbar-brand" href="">大学生直聘</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/polls/index.html">首页</a>
                            </li>
                            <li>
                                <a href="/polls/list.html/0_0">职位</a>
                            </li>
                            <li>
                                <a href="/polls/company.html/0_0_0">公司</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if request.user.is_authenticated %}

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{request.user.username}}<strong
                                        class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/polls/selfinfo.html" target="_parent">个人中心</a></li>
                                    <li><a href="/polls/logout" target="_parent">退出</a></li>
                                </ul>
                            </li>

                            {% else %}
                            <li><a href="/polls/login.html">登陆/注册</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- head end -->
        <div class="jumbotron" style="background-image: url(/static/image/job_bg.jpg)">
            <h1>
                <img class="img-rounded" width=103px height=103px style="border:1px solid #e4e1e1" src="/static/image/{{com.name}}.png" />
                <font color="white">{{com.name}}</font>
            </h1>
            <p>
                <font color="white">
                    {{com.get_financing_display}}&nbsp;&nbsp;
                    |&nbsp;&nbsp;{{com.get_scale_display}}&nbsp;&nbsp;
                    |&nbsp;&nbsp;{{com.get_industry_type_display}}
                </font>
            </p>
        </div>
        <div class="tabbable" id="tabs-761440">
            <ul class="nav nav-tabs">
                {% if active_panel == 1 %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                    <a href="#panel-720488" data-toggle="tab">公司简介</a>
                </li>
                {% if active_panel == 3 %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                    <a href="#panel-696348" data-toggle="tab">在招岗位</a>
                </li>
                {% if active_panel == 2 %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                    <a href="#panel-696340" data-toggle="tab">评价</a>
                </li>
            </ul>
            <div class="tab-content">
                <!--公司介绍-->
                {% if active_panel == 1 %}
                <div class="tab-pane active" id="panel-720488">
                {% else %}
                <div class="tab-pane" id="panel-720488">
                {% endif %}
                    <p>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <font size="4">{{com.desc|linebreaks }}</font>
                            </div>
                        </div>
                    </p>
                </div>
                <!--在招岗位-->
                {% if active_panel == 3 %}
                <div class="tab-pane active" id="panel-696348">
                {% else %}
                <div class="tab-pane" id="panel-696348">
                {% endif %}
                    <p>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                {% if not job_list_all %}
                                该公司尚未发布任何岗位，敬请期待！
                                {% else %}
                                {% for job in job_list %}
                                <div class="panel" style="border:1px solid #e4e1e1">
                                    <div class="panel-body">
                                        <div class="col-md-6 column">
                                            <p>
                                                <font size='3'><b>{{ job.name }}</b></font> &nbsp;
                                                <font color="#A52A2A" size='2'>{{job.salary1}}K-{{job.salary2}}K</font>
                                            </p>
                                            <p>
                                                <font color="#DCDCDC" size='2'>{{job.get_city_display}}&nbsp;&nbsp;</font>
                                                <font color="#DCDCDC" size='2'>|&nbsp;&nbsp;{{job.get_edu_req_display}}
                                                </font>
                                            </p>
                                        </div>
                                        <div class="col-md-4 column">
                                            <font color="#DCDCDC" size='2'>{{job.publisher.company}}&nbsp;&nbsp;</font>
                                        </div>
                                        <div class="col-md-2 column">
                                            <a class="btn" href="/polls/job_detail.html?id={{job.id}}">详情</a>
                                            <a class="btn btn-primary" href="/polls/send_resume/?sid={{job.id}}&cur_page=3&page={{page_num}}">投递简历</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div>
                                    <ul class="pagination">
                                        {% if job_list.has_previous %}
                                        <li><a href="/polls/company_detail.html/?id={{com.id}}&page={{ job_list.previous_page_number }}">上一页</a></li>
                                        {% else %}
                                        <li class="disabled"><a href="#">上一页</a></li>
                                        {% endif %}

                                        {% for num in p.page_range %}
                                        <li><a href="/polls/company_detail.html/?id={{com.id}}&page={{ num }}">{{ num }}</a></li>
                                        {% endfor %}

                                        {% if job_list.has_next %}
                                        <li><a href="/polls/company_detail.html/?id={{com.id}}&page={{ job_list.next_page_number }}">下一页</a></li>
                                        {% else %}
                                        <li class="disabled"><a href="#">下一页</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                {% endif %}
                                {% if messages %}
                                <script>
                                    {%for msg in messages %}
                                        alert('{{ msg.message }}'); 
                                    {% endfor %}
                                </script>
                                {% endif %}
                            </div>
                        </div>
                    </p>
                </div>
                <!--评论中心-->
                {% if active_panel == 2 %}
                <div class="tab-pane active" id="panel-696340">
                {% else %}
                <div class="tab-pane" id="panel-696340">
                {% endif %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% if not comments_list %}
                                        评论区空空如也~
                            {% else %}
                            {% for tmp in comments_list %}
                            <div class="panel" style="border:1px solid #e4e1e1">
                                <div class="panel-body">
                                    <label>{{tmp.created}}&nbsp;&nbsp;
                                    &nbsp;{{tmp.stu.name}}</label>
                                    <p>
                                        {{tmp.com}}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                            <div>
                                <ul class="pagination">
                                    {% if comments_list.has_previous %}
                                    <li><a href="/polls/company_detail.html/?id={{com.id}}&c_page={{ comments_list.previous_page_number }}">上一页</a></li>
                                    {% else %}
                                    <li class="disabled"><a href="#">上一页</a></li>
                                    {% endif %}

                                    {% for num in c_p.page_range %}
                                    <li><a href="/polls/company_detail.html/?id={{com.id}}&c_page={{ num }}">{{ num }}</a></li>
                                    {% endfor %}

                                    {% if comments_list.has_next %}
                                    <li><a href="/polls/company_detail.html/?id={{com.id}}&c_page={{ comments_list.next_page_number }}">下一页</a></li>
                                    {% else %}
                                    <li class="disabled"><a href="#">下一页</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            {% endif %} 
                        </div>
                        <div class="panel-footer">
                            <form role="form" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>添加新的评论</label>
                                    {{comments.com}}
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary submit" type="submit">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="blog-footer">
            <p>Design by wuhuanbin,2019</p>
        </div>
    </div>

</body>

</html>