<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>大学生直聘-大学生就业神器！</title>

  <!-- Bootstrap -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/bootstrap-select.min.css" rel="stylesheet" />
  <link href="/static/css/mystyle.css" rel="stylesheet">
  <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
  <script src="/static/jquery-3.3.1.min.js"></script>
  <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/bootstrap-select.min.js"></script>
  <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
  <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
  <!--[if lt IE 9]>
          <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
        <![endif]-->
</head>

<body>
  <div class="container">
    <!-- head -->
    <div class="row clearfix">
      <div class="col-md-12 column">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                class="icon-bar"></span></button> <a class="navbar-brand" href="">大学生直聘</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/polls/index.html">首页</a>
              </li>
              <li>
                <a href="/polls/list.html">职位</a>
              </li>
              <li>
                <a href="/polls/company.html">公司</a>
              </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" />
              </div> <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              {% if request.user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{request.user.username}}<strong class="caret"></strong></a>
                  <ul class="dropdown-menu">
                    <li><a href="/polls/selfinfo.html" target="_parent">个人中心</a></li>
                    <li><a href="/polls/logout" target="_parent">退出</a></li>
                  </ul>
                </li>
              {% else %}
              <li><a href="/polls/login.html">登陆/注册</a></li>
              {% endif %}

            </ul>
          </div>
        </nav>
      </div>
    </div>
    <!-- head end -->
    <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="carousel slide" id="carousel-962164">
          <ol class="carousel-indicators">
            <li data-slide-to="0" data-target="#carousel-962164">
            </li>
            <li data-slide-to="1" data-target="#carousel-962164" class="active">
            </li>
            <li data-slide-to="2" data-target="#carousel-962164">
            </li>
          </ol>
          <div class="carousel-inner">
            <div class="item">
              <a href="/polls/company_detail.html/?id={{tengxun.id}}&page=1"><img alt="" src="/static/image/bg1.jpg" /></a>
            </div>
            <div class="item active">
              <a href="/polls/company_detail.html/?id={{alibaba.id}}&page=1"><img alt="" src="/static/image/bg2.jpg" /></a>
            </div>
            <div class="item">
              <a href="/polls/company_detail.html/?id={{huawei.id}}&page=1"><img alt="" src="/static/image/bg3.jpg" /></a>
            </div>
          </div> 
          <a class="left carousel-control" href="#carousel-962164" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-962164" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>


        <h3>
          热门企业
        </h3>
        <div class="tabbable" id="tabs-613893">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#panel-886661" data-toggle="tab">IT·互联网</a>
            </li>
            <li>
              <a href="#panel-195701" data-toggle="tab">金融</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="panel-886661" style="border:1px solid #e4e1e1">
              <div class="row">
                  <!--腾讯-->
                  <div class="col-md-4 column">
                      <a href="/polls/company_detail.html/?id={{tengxun.id}}&page=1">
                          <div class="panel">
                              <div class="panel-body">
                                  <div class="col-md-4 column">
                                      <img class="img-rounded" width=57px height=57px style="border:1px solid #e4e1e1" src="/static/image/{{tengxun.name}}.png" />
                                  </div>
                                  <div class="col-md-8 column">
                                      <h>{{tengxun.name}}</h>
                                      <p>
                                          <font color="#DCDCDC" size='2'>{{tengxun.get_financing_display}}|{{tengxun.get_scale_display}}</font>
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
                  <!--百度-->
                  <div class="col-md-4 column">
                      <a href="/polls/company_detail.html/?id={{baidu.id}}&page=1">
                          <div class="panel">
                              <div class="panel-body">
                                  <div class="col-md-4 column">
                                      <img class="img-rounded" width=57px height=57px style="border:1px solid #e4e1e1" src="/static/image/{{baidu.name}}.png" />
                                  </div>
                                  <div class="col-md-8 column">
                                      <h>{{baidu.name}}</h>
                                      <p>
                                          <font color="#DCDCDC" size='2'>{{baidu.get_financing_display}}|{{baidu.get_scale_display}}</font>
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
                  <!--阿里巴巴-->
                  <div class="col-md-4 column" >
                      <a href="/polls/company_detail.html/?id={{alibaba.id}}&page=1">
                          <div class="panel">
                              <div class="panel-body">
                                  <div class="col-md-4 column">
                                      <img class="img-rounded" width=57px height=57px style="border:1px solid #e4e1e1" src="/static/image/{{alibaba.name}}.png" />
                                  </div>
                                  <div class="col-md-8 column">
                                      <h>{{alibaba.name}}</h>
                                      <p>
                                          <font color="#DCDCDC" size='2'>{{alibaba.get_financing_display}}|{{alibaba.get_scale_display}}</font>
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="row">
                <!--网易-->
                  <div class="col-md-4 column">
                      <a href="/polls/company_detail.html/?id={{wangyi.id}}&page=1">
                          <div class="panel">
                              <div class="panel-body">
                                  <div class="col-md-4 column">
                                      <img class="img-rounded" width=57px height=57px style="border:1px solid #e4e1e1" src="/static/image/{{wangyi.name}}.png" />
                                  </div>
                                  <div class="col-md-8 column">
                                      <h>{{wangyi.name}}</h>
                                      <p>
                                          <font color="#DCDCDC" size='2'>{{wangyi.get_financing_display}}|{{wangyi.get_scale_display}}</font>
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
                  <!--京东-->
                  <div class="col-md-4 column">
                      <a href="/polls/company_detail.html/?id={{jingdong.id}}&page=1">
                          <div class="panel">
                              <div class="panel-body">
                                  <div class="col-md-4 column">
                                      <img class="img-rounded" width=57px height=57px style="border:1px solid #e4e1e1" src="/static/image/{{jingdong.name}}.png" />
                                  </div>
                                  <div class="col-md-8 column">
                                      <h>{{jingdong.name}}</h>
                                      <p>
                                          <font color="#DCDCDC" size='2'>{{jingdong.get_financing_display}}|{{jingdong.get_scale_display}}</font>
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
                  <!--搜狗-->
                  <div class="col-md-4 column">
                      <a href="/polls/company_detail.html/?id={{sougou.id}}&page=1">
                          <div class="panel">
                              <div class="panel-body">
                                  <div class="col-md-4 column">
                                      <img class="img-rounded" width=57px height=57px style="border:1px solid #e4e1e1" src="/static/image/{{sougou.name}}.png" />
                                  </div>
                                  <div class="col-md-8 column">
                                      <h>{{sougou.name}}</h>
                                      <p>
                                          <font color="#DCDCDC" size='2'>{{sougou.get_financing_display}}|{{sougou.get_scale_display}}</font>
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="row">
                  <!--美团-->
                  <div class="col-md-4 column">
                      <a href="/polls/company_detail.html/?id={{meituan.id}}&page=1">
                          <div class="panel">
                              <div class="panel-body">
                                  <div class="col-md-4 column">
                                      <img class="img-rounded" width=57px height=57px style="border:1px solid #e4e1e1" src="/static/image/{{meituan.name}}.png" />
                                  </div>
                                  <div class="col-md-8 column">
                                      <h>{{meituan.name}}</h>
                                      <p>
                                          <font color="#DCDCDC" size='2'>{{meituan.get_financing_display}}|{{meituan.get_scale_display}}</font>
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
                    <!--小米-->
                    <div class="col-md-4 column">
                        <a href="/polls/company_detail.html/?id={{xiaomi.id}}&page=1">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="col-md-4 column">
                                        <img class="img-rounded" width=57px height=57px style="border:1px solid #e4e1e1" src="/static/image/{{xiaomi.name}}.png" />
                                    </div>
                                    <div class="col-md-8 column">
                                        <h>{{xiaomi.name}}</h>
                                        <p>
                                            <font color="#DCDCDC" size='2'>{{xiaomi.get_financing_display}}|{{xiaomi.get_scale_display}}</font>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--新浪-->
                    <div class="col-md-4 column">
                        <a href="/polls/company_detail.html/?id={{xinlang.id}}&page=1">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="col-md-4 column">
                                        <img class="img-rounded" width=57px height=57px style="border:1px solid #e4e1e1" src="/static/image/{{xinlang.name}}.png" />
                                    </div>
                                    <div class="col-md-8 column">
                                        <h>{{xinlang.name}}</h>
                                        <p>
                                            <font color="#DCDCDC" size='2'>{{xinlang.get_financing_display}}|{{xinlang.get_scale_display}}</font>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="panel-195701">
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img alt="300x200" src="v3/default4.jpg" />
                    <div class="caption">
                      <h3>
                        软通动力
                      </h3>
                      <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                        gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      </p>
                      <p>
                        <a class="btn btn-primary" href="#">查看</a> <a class="btn" href="#">detail</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img alt="300x200" src="v3/default5.jpg" />
                    <div class="caption">
                      <h3>
                        幸福金科
                      </h3>
                      <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                        gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      </p>
                      <p>
                        <a class="btn btn-primary" href="#">查看</a> <a class="btn" href="#">detail</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img alt="300x200" src="v3/default6.jpg" />
                    <div class="caption">
                      <h3>
                        苏宁金融
                      </h3>
                      <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                        gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      </p>
                      <p>
                        <a class="btn btn-primary" href="#">查看</a> <a class="btn" href="#">detail</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img alt="300x200" src="v3/default4.jpg" />
                    <div class="caption">
                      <h3>
                        软通动力
                      </h3>
                      <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                        gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      </p>
                      <p>
                        <a class="btn btn-primary" href="#">查看</a> <a class="btn" href="#">detail</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img alt="300x200" src="v3/default5.jpg" />
                    <div class="caption">
                      <h3>
                        幸福金科
                      </h3>
                      <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                        gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      </p>
                      <p>
                        <a class="btn btn-primary" href="#">查看</a> <a class="btn" href="#">detail</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img alt="300x200" src="v3/default6.jpg" />
                    <div class="caption">
                      <h3>
                        苏宁金融
                      </h3>
                      <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                        gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      </p>
                      <p>
                        <a class="btn btn-primary" href="#">查看</a> <a class="btn" href="#">detail</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-md-12 column">
        <h3>
          城市热招
        </h3>
      </div>
      <div class="col-md-2 column">
        <p><a href=""><img alt="140x140" src="/static/image/city_beijing.png" class="img-rounded" width=165px height=75px /></a></p>
        <p><a href=""><img alt="140x140" src="/static/image/city_changchun.png" class="img-rounded" width=165px height=75px /></a></p>
      </div>
      <div class="col-md-2 column">
        <p><a href=""><img alt="140x140" src="/static/image/city_changsha.png" class="img-rounded" width=165px height=75px /></a></p>
        <p><a href=""><img alt="140x140" src="/static/image/city_chengdu.png" class="img-rounded" width=165px height=75px /></a></p>
      </div>
      <div class="col-md-2 column">
        <p><a href=""><img alt="140x140" src="/static/image/city_chongqing.png" class="img-rounded" width=165px height=75px /></a></p>
        <p><a href=""><img alt="140x140" src="/static/image/city_guangzhou.png" class="img-rounded" width=165px height=75px /></a></p>
      </div>
      <div class="col-md-2 column">
        <p><a href=""><img alt="140x140" src="/static/image/city_shenzhen.png" class="img-rounded" width=165px height=75px /></a></p>
        <p><a href=""><img alt="140x140" src="/static/image/city_hangzhou.png" class="img-rounded" width=165px height=75px /></a></p>
      </div>
      <div class="col-md-2 column">
        <p><a href=""><img alt="140x140" src="/static/image/city_jinan.png" class="img-rounded" width=165px height=75px /></a></p>
        <p><a href=""><img alt="140x140" src="/static/image/city_nanjing.png" class="img-rounded" width=165px height=75px /></a></p>
      </div>
      <div class="col-md-2 column">
        <p><a href=""><img alt="140x140" src="/static/image/city_qingdao.png" class="img-rounded" width=165px height=75px /></a></p>
        <p><a href=""><img alt="140x140" src="/static/image/city_shanghai.png" class="img-rounded" width=165px height=75px /></a></p>
      </div>

    </div>
    <div class="blog-footer">
      <p>Design by wuhuanbin,2019</p>
    </div>
  </div>

</body>

</html>