<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>大学生直聘-大学生就业神器！</title>

  <!-- Bootstrap -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/bootstrap-select.min.css" rel="stylesheet" />
  <link href="/static/css/mystyle.css" rel="stylesheet">
  <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
  <script src="/static/jquery-3.3.1.min.js"></script>
  <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/bootstrap-select.min.js"></script>
  <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
  <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
  <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="container">
    <!-- head -->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                            class="icon-bar"></span></button> <a class="navbar-brand" href="#">大学生直聘</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/polls/index.html">首页</a>
                        </li>
                        <li>
                            <a href="/polls/list.html">职位</a>
                        </li>
                        <li>
                            <a href="/polls/company.html/0_0_0">公司</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{request.user.username}}<strong
                                        class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/polls/selfinfo.html" target="_parent">个人中心</a></li>
                                    <li><a href="/polls/logout" target="_parent">退出</a></li>
                                </ul>
                            </li>
                        {% else %}
                        <li><a href="/polls/login.html">登陆/注册</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- head end-->
    <div class="row clearfix">
      <div class="col-md-3 column">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">
              个人中心
            </h3>
          </div>
          <div class="panel-body">
            <ul class="nav nav-stacked nav-pills">
              <li>
                <a href="/polls/selfinfo.html">个人信息</a>
              </li>
              <li class="active">
                <a href="/polls/public_job.html">发布招聘信息</a>
              </li>
              <li>
                <a href="/polls/notifyinfo.html">消息</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-md-9 column">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">
              已发布的招聘
            </h3>
          </div>
          <div class="panel-body">
            <div class="panel-group" id="panel-817493">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>名称</th>
                    <th>城市</th>
                    <th>薪资</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    {% for temp in pub_job %}
                    <tr>
                      <td>{{temp.name}}</td>
                      <td>{{temp.city}}</td>
                      <td>{{temp.salary1}}K-{{temp.salary2}}K</td>
                      <td>
                        <a href="/polls/job_detail.html?id={{ temp.id }}">详情</a>
                        <a href="/polls/public_job.html/del_info?id={{ temp.id }}">删除</a>
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>

            <button class="btn  btn-default" data-toggle="modal" data-target="#myModal">
              发布
            </button>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                      &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                      发布新的招聘信息
                    </h4>
                  </div>
                  <div class="modal-body">
                    <form role="form" method="post">
                      {% csrf_token %}
                      <div class="form-group">
                        <label>岗位</label>{{stationForm.name}}
                      </div>
                      <div class="form-group">
                        <label>学历要求</label>{{stationForm.edu_req}}
                      </div>
                      <div class="form-group">
                        <label>工作经验</label>{{stationForm.exp_req}}
                      </div>
                      <div class="form-group">
                        <label>工作城市</label>{{stationForm.city}}
                      </div>
                      <div class="form-group">
                          <label>薪资范围</label>{{stationForm.salary1}}-{{stationForm.salary2}}
                      </div>
                      <div class="form-group">
                        <label>岗位描述</label>
                        {{stationForm.job_desc}}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button class="btn submit" type="submit">提交</button>
                      </div>
                    </form>
                  </div>

                </div><!-- /.modal-content -->
              </div><!-- /.modal -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>