<!DOCTYPE HTML>
<html>
<head>
<title>简历查看</title>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script src="/static/js/jquery.min.js"></script>
<!-- Custom Theme files -->
 <link href="/static/css/dashboard.css" rel="stylesheet">
<link href="/static/css/resumeStyle.css" rel='stylesheet' type='text/css' />

<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Curriculum Vitae Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- start menu -->
  
</head>
<body>
<!-- header -->
<div class="col-sm-3 col-md-2 sidebar">
		 <div class="sidebar_top">
			 <h1>{{self_info.name}}</h1> 
			 <img src="/static/image/avt.png" alt=""/>
		 </div>
		<div class="details">
			 <h3>联系方式</h3>
			 <p>{{self_info.phone}}</p>
			 <h3>邮件</h3>
			 <p>{{self_info.user.email}}</p>
			 <address>
			 <h3>性别</h3>
			 <span>{{self_info.get_gender_display}}</span>
			 </address>
			 
		</div>
		<div class="clearfix"></div>
</div>
<!---->
<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
	<!---//pop-up-box---->			
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	 <div class="content">
	 	<div class="education">
			<h3 class="clr1">教育经历</h3>
			{% for exp in edu_exp %}
				<div class="education_details">
					<h4>{{exp.get_edu_display}}: {{exp.gra_school}}<span>{{exp.start_date}} - {{exp.end_date}}</span></h4>
					<h6>{{exp.profession}}</h6>
					<p class="cmpny1"></p>
				</div>
			{% endfor %}
		 </div>
		 <div class="company">
			 <h3 class="clr2">实习经历</h3>
			 {% if job_exp.count == 0 %}
			 	<p class="cmpny1">用户还没填写任何信息！</p>
			 {% endif %}
			 {% for exp in job_exp %}
				<div class="company_details">
					<h4>{{exp.company_name}} <span>{{exp.start_date}} - {{exp.end_date}}</span></h4>
					<h6>{{exp.job_role}}</h6>
					<p class="cmpny1">{{exp.job_desc}}</p>
				</div>
			 {% endfor %}
		 </div>
		 <div class="education">
			<h3 class="clr3">项目经历</h3>
			{% for exp in pro_exp %}
				<div class="education_details">
					<h4>{{exp.job_name}}<span>{{exp.start_date}} - {{exp.end_date}}</span></h4>
					<h6>{{exp.job_role}}</h6>
					<p class="cmpny1">{{exp.job_desc}}</p>
				</div>
			{% endfor %}
		 </div>
	 </div>
</div>
<!---->
</body>
</html>