<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>大学生直聘-大学生就业神器！</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/static/css/mystyle.css" rel="stylesheet">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="/static/jquery-3.3.1.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <!-- head -->
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                                class="icon-bar"></span></button> <a class="navbar-brand" href="#">大学生直聘</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/polls/index.html">首页</a>
                            </li>
                            <li>
                                <a href="/polls/list.html/0_0">职位</a>
                            </li>
                            <li>
                                <a href="/polls/company.html/0_0_0">公司</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if request.user.is_authenticated %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{request.user.username}}<strong
                                            class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/polls/selfinfo.html" target="_parent">个人中心</a></li>
                                        <li><a href="/polls/logout" target="_parent">退出</a></li>
                                    </ul>
                                </li>
                            {% else %}
                            <li><a href="/polls/login.html">登陆/注册</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- head end-->
        <div class="row clearfix">
            <div class="col-md-3 column">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            个人中心
                            <a class ="pull-right" href="/polls/resume?id={{loginuser.id}}">简历预览</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-stacked nav-pills">
                            <li>
                                <a href="/polls/selfinfo.html">个人信息</a>
                            </li>
                            <li class="active">
                                <a href="/polls/resumeinfo.html/check">简历</a>
                            </li>
                            <li>
                                <a href="/polls/notifyinfo.html">
                                 {% if is_stu == False %}
                                    消息
                                {% else %}
                                    简历状态
                                {% endif %}
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-9 column">
                <div class="panel-group" id="panel-245733">
                    <!--教育信息-->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                                <a class="panel-title" data-toggle="collapse" data-parent="#panel-245733" href="#panel-element-485539">教育经历</a>
                        </div>
                        <div id="panel-element-485539" class="panel-collapse in">
                            <div class="panel-body">
                                    {% if edu_exp %}
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>学校</th>
                                                <th>时间段</th>
                                                <th>学历</th>
                                                <th>专业</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for exp in edu_exp %}
                                            <tr>
                                                <td>{{exp.gra_school}}</td>
                                                <td>{{exp.start_date}}-{{exp.end_date}}</td>
                                                <td>
                                                    {{exp.get_edu_display}}
                                                </td>
                                                <td>{{exp.profession}}</td>
                                                <td><a href="/polls/resumeinfo.html/del_edu?did={{ exp.id }}">删除</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% endif %}
                                    <button class="btn  btn-default" data-toggle="modal" data-target="#EduModal">
                                        添加
                                    </button>
                                    <!-- 模态框（Modal） -->
                                    <div class="modal fade" id="EduModal" tabindex="-1" role="dialog" aria-labelledby="EduModalLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <h4 class="modal-title" id="EduModalLabel">
                                                        添加
                                                    </h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form role="form" method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label>学校</label>
                                                            {{edu_form.school}}
                                                        </div>
                                                        <div class="form-group">
                                                            <label>时间段</label>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="input-group date form_date" data-date=""
                                                                        data-date-format="yyyy/mm/dd" data-link-field="dtp_input2"
                                                                        data-link-format="yyyy-mm-dd">
                                                                        <span class="input-group-addon">起始时间</span>
                                                                        {{edu_form.start_date}}
                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="input-group date form_date" data-date=""
                                                                        data-date-format="yyyy/mm/dd" data-link-field="dtp_input2"
                                                                        data-link-format="yyyy-mm-dd">
                                                                        <span class="input-group-addon">终止时间</span>
                                                                        {{edu_form.end_date}}
                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>学历</label>
                                                            {{edu_form.edu}}
                                                        </div>
                                                        <div class="form-group">
                                                            <label>专业</label>
                                                            {{edu_form.pro}}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                                            </button>
                                                            <button class="btn submit" type="submit">提交</button>
                                                        </div>
                                                    </form>
                                                </div>
            
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal -->
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!--实习经历-->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-245733" href="#panel-element-357907">实习经历</a>
                        </div>
                        <div id="panel-element-357907" class="panel-collapse collapse">
                            <div class="panel-body">
                                    {% for exp in pro_exp %}
                                    {% if exp %}
                                    <div class="col-md-12">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <h3>
                                                    {{exp.job_name}}
                                                </h3>
                                                <h4>
                                                    <h5>
                                                        {{exp.start_date}}-{{exp.end_date}}
                                                    </h5>
                                                    {{exp.job_role}}
                                                </h4>
                                                <p>
                                                    {{exp.job_desc}}
                                                </p>
                                                <td><a href="/polls/resumeinfo.html/del_pro?did={{ exp.id }}">删除</a></td>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
            
                                    <button class="btn  btn-default" data-toggle="modal" data-target="#ProModal">
                                        添加
                                    </button>
                                    <!-- 模态框（Modal） -->
                                    <div class="modal fade" id="ProModal" tabindex="-1" role="dialog" aria-labelledby="ProModalLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <h4 class="modal-title" id="ProModalLabel">
                                                        添加
                                                    </h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form role="form" method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label>项目名称</label>
                                                            {{pro_form.job_name}}
                                                        </div>
            
                                                        <div class="form-group">
                                                            <label>时间段</label>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="input-group date form_date" data-date=""
                                                                        data-date-format="yyyy/mm/dd" data-link-field="dtp_input2"
                                                                        data-link-format="yyyy-mm-dd">
                                                                        <span class="input-group-addon">起始时间</span>
                                                                        {{pro_form.start_date}}
                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="input-group date form_date" data-date=""
                                                                        data-date-format="yyyy/mm/dd" data-link-field="dtp_input2"
                                                                        data-link-format="yyyy-mm-dd">
                                                                        <span class="input-group-addon">终止时间</span>
                                                                        {{pro_form.end_date}}
                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>项目角色</label>
                                                            {{pro_form.job_role}}
                                                        </div>
                                                        <div class="form-group">
                                                            <label>项目描述</label>
                                                            {{pro_form.job_desc}}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                                            </button>
                                                            <button class="btn submit" type="submit">提交</button>
                                                        </div>
                                                    </form>
                                                </div>
            
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal -->
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!--项目经历-->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-245733" href="#panel-element-357908">项目经历</a>
                        </div>
                        <div id="panel-element-357908" class="panel-collapse collapse">
                            <div class="panel-body">
                                    {% for exp in job_exp %}
                                    {% if exp %}
                                    <div class="col-md-12">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <h3>
                                                    {{exp.company_name}}
                                                </h3>
                                                <h4>
                                                    <h5>
                                                        {{exp.start_date}}-{{exp.end_date}}
                                                    </h5>
                                                    {{exp.job_role}}
                                                </h4>
                                                <h4>
                                                    {{exp.industry}}
                                                </h4>
                                                <p>
                                                    {{exp.job_desc}}
                                                </p>
                                                <td><a href="/polls/resumeinfo.html/del_job?did={{ exp.id }}">删除</a></td>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
            
                                    <button class="btn  btn-default" data-toggle="modal" data-target="#JobModal">
                                        添加
                                    </button>
                                    <!-- 模态框（Modal） -->
                                    <div class="modal fade" id="JobModal" tabindex="-1" role="dialog" aria-labelledby="JobModalLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <h4 class="modal-title" id="JobModalLabel">
                                                        添加
                                                    </h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form role="form" method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label>公司名称</label>
                                                            {{job_form.company_name}}
                                                        </div>
                                                        <div class="form-group">
                                                            <label>在职时间</label>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="input-group date form_date" data-date=""
                                                                        data-date-format="yyyy/mm/dd" data-link-field="dtp_input2"
                                                                        data-link-format="yyyy-mm-dd">
                                                                        <span class="input-group-addon">起始时间</span>
                                                                        {{job_form.start_date}}
                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="input-group date form_date" data-date=""
                                                                        data-date-format="yyyy/mm/dd" data-link-field="dtp_input2"
                                                                        data-link-format="yyyy-mm-dd">
                                                                        <span class="input-group-addon">终止时间</span>
                                                                        {{job_form.end_date}}
                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
            
                                                        <div class="form-group">
                                                            <label>工作职位</label>
                                                            {{job_form.job_role}}
                                                        </div>
                                                        <div class="form-group">
                                                            <label>所属行业</label>
                                                            {{job_form.industry}}
                                                        </div>
                                                        <div class="form-group">
                                                            <label>工作描述</label>
                                                            {{job_form.job_desc}}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                                            </button>
                                                            <button class="btn submit" type="submit">提交</button>
                                                        </div>
                                                    </form>
                                                </div>
            
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal -->
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript">
        $('.form_date').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    </script>
</body>

</html>