<!DOCTYPE HTML>
<html>
<head>
	<title>Sign In</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Bootstrap Core CSS -->
	<link href="/static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<!-- Custom CSS -->
	<link href="/static/css/regStyle.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/static/css/morris.css" type="text/css" />
	<!-- Graph CSS -->
	<link href="/static/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/jquery-ui.css">
	<!-- jQuery -->
	<script src="/static/jquery-3.3.1.min.js"></script>
	<!-- //jQuery -->
	<!-- lined-icons -->
	<link rel="stylesheet" href="/static/css/icon-font.min.css" type='text/css' />
	<!-- //lined-icons -->
	<style>
        .error_msg{
            color: red;
        }
    </style>
</head>
<body>
	<div class="main-wthree">
	<div class="container">
	<div class="sin-w3-agile">
		{% if is_stu == 1 %}
			<h2>学生注册</h2>
		{% else %}
			<h2>企业注册</h2>
		{% endif %}
		<form method="post">
		{% csrf_token %}
			<div class="username">
				<span class="username">用户名:</span>
				{{Register_Form.username}}
				{%  if Register_Form.errors.username %}
                	<p class="error_msg">{{ Register_Form.errors.username.0 }}</p>
            	{% endif %}
				<div class="clearfix"></div>
			</div>
			<div class="username">
				<span class="username">邮件:</span>
				{{Register_Form.email}}
				{%  if Register_Form.errors.email %}
                	<p class="error_msg">{{ Register_Form.errors.email.0 }}</p>
            	{% endif %}
				<div class="clearfix"></div>
			</div>
			<div class="password-agileits">
				<span class="username">密码:</span>
				{{Register_Form.password}}
				<div class="clearfix"></div>
			</div>
			<div class="password-agileits">
				<span class="username">确认密码:</span>
				{{Register_Form.comfirm_passwd}}
            	{%  if Register_Form.non_field_errors %}
                	{% for item in Register_Form.non_field_errors %}
                    <p class="error_msg">{{ item }}</p>
                	{% endfor %}
           	 	{% endif %}
				<div class="clearfix"></div>
			</div>
			<div class="login-w3">
					<input type="submit" class="login" value="立即注册">
			</div>
			<div class="clearfix"></div>
		</form>
		<div class="back">
						<a href="/polls/index.html">回到首页</a>
				</div>
				<div class="footer">
					<p>Design by wuhuanbin</a></p>
				</div>
	</div>
	</div>
	</div>
</body>
</html>